{% extends "layout.html" %}



{% block title %}
    Bibliography
{% endblock %}



{% block main %}
    <div class="my-5">
        <p class="my-5 lh-lg taj"><b>Acinyemi, Paul.</b> “Build a Vordle Clone in Javascript.” FreeCodeCamp, 2022, www.freecodecamp.org/news/build-a-wordle-clone-in-javascript/.</p>
        <p class="my-5 lh-lg taj"><b>Au Yeung, Albert.</b> “Implementing Trie in Python.” Albert Au Yeung, 2020, albertauyeung.github.io/2020/06/15/python-trie.html/.</p>
        <p class="my-5 lh-lg taj"><b>Harper Collins Publisher.</b> “Collins English Dictionary.” Collins English Dictionary, 2019, www.collinsdictionary.com/dictionary/english.</p>
        <p class="my-5 lh-lg taj"><b>Mozilla Corporation.</b> “MDN Docs.” MDN Docs, 2022, developer.mozilla.org/en-US/.</p>
        <p class="my-5 lh-lg taj"><b>Verma, Himanhu.</b> “Recursion: Boggle.” Educative, 2019, www.educative.io/page/5641478634209280/5676830073815040.</p>
    </div>
{% endblock %}



